<div class="col-lg-6">
  <%= form_for([:backoffice, @admin]) do |f| %>
    <div class="form-group mb-4">
      <label>Administrator name</label>
      <%= f.text_field :name, class:"form-control mt-2", placeholder:"Ex: Kyle" %>
    </div>
    <div class="form-group mb-4">
      <label>Email</label>
      <%= f.text_field :email, class:"form-control mt-2", placeholder:"Ex: Example@example.com" %>
    </div>
    <% if policy(@admin).edit? %>
      <div class="form-group mb-4">
        <%= f.label :role %>
        <%= f.collection_radio_buttons(:role, options_for_roles, :id, :description) do |b| %>
          <div class="radio">
            <%= b.label { b.radio_button + " #{b.value}"} %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="form-group mb-4">
      <label>Password</label>
      <%= f.password_field :password, class:"form-control mt-2", placeholder:"Password" %>
    </div>
    <div class="form-group">
      <label>Password Confirmation</label>
      <%= f.password_field :password_confirmation, class:"form-control mt-2", placeholder:"Password confirmation" %>
    </div>
    <button type="submit" class="btn btn-success mt-4">Save</button>
  <% end %>
</div>
